<% provide :title, "Introductiepagina"  %>
<h1>Shitcorrectie (correctie van allerlei tekstuele shit en meer)</h1>
<div class="container-fluid">
    <p>
      Fxxxing cheap ass fou<s>d</s>t-removal uit je te<s>x</s>kst! <br>
      (maar altijd binnen vier dagen en wel gewoon goed, weet je)        
    </p>
    <p>
      Betalen met geld, of met spullen of wederdiensten.        
    </p>
    <p>
      Taalfoutje gevonden? Nobody's perfect, motherfucker!
    </p>
</div
