<% provide :title, "Introductiepagina"  %>
<div class="container-fluid mar-t-8-pc">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h1><b>SHITCORRECTIE</b></h1>    
      <p>
        Correctie van allerlei tekstuele shit en meer.<br>
        Fxxxing cheap ass fou<s>d</s>t-removal uit je te<s>x</s>kst! <br>
        (maar altijd binnen vier dagen en wel gewoon goed, weet je) <br>       
        Betalen met geld, of met spullen of wederdiensten.        
      </p>    
    </div>
  </div>
</div
