.default-bg 
  background: no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

.bergen-mei-snie-bg
  @extend .default-bg
  background-image: image-url('berglandschap2700x1800.jpg')

.bmw2800cs-bg
  @extend .default-bg
  background-image: image-url('bmw2800cs2700x1800.jpg')
  
.evening-alps-bg
  @extend .default-bg
  background-image: image-url('evening_alps2700x1800.jpg') 

.gooimeer-bg
  @extend .default-bg
  background-image: image-url('gooimeer2700x1800.jpg')

.skateboarders-bg
  @extend .default-bg
  background-image: image-url('skateboarders2700x1800.jpg')
  
.sidney-bg
  @extend .default-bg
  background-image: image-url('sidney2700x1800.jpg')
  
.toren-bg
  @extend .default-bg
  background-image: image-url('toren2700x1800.jpg')